In [2]:
import numpy as np
import pandas as pd

In [3]:
books= pd.read_csv("Dataset/raw_data/Books.csv")
rating= pd.read_csv("Dataset/raw_data/Ratings.csv")
users= pd.read_csv("Dataset/raw_data/Users.csv")
book1000k_1100k= pd.read_csv("Dataset/raw_data/book1000k-1100k.csv")
book1100k_1200k= pd.read_csv("Dataset/raw_data/book1100k-1200k.csv")
book1200k_1300k= pd.read_csv("Dataset/raw_data/book1200k-1300k.csv")
book1300k_1400k= pd.read_csv("Dataset/raw_data/book1300k-1400k.csv")
book1400k_1500k= pd.read_csv("Dataset/raw_data/book1400k-1500k.csv")
book1500k_1600k= pd.read_csv("Dataset/raw_data/book1500k-1600k.csv")
book1600k_1700k= pd.read_csv("Dataset/raw_data/book1600k-1700k.csv")
book1800k_1900k= pd.read_csv("Dataset/raw_data/book1800k-1900k.csv")
book1900k_2000k= pd.read_csv("Dataset/raw_data/book1900k-2000k.csv")
book2000k_3000k= pd.read_csv("Dataset/raw_data/book2000k-3000k.csv")
book3000k_4000k= pd.read_csv("Dataset/raw_data/book3000k-4000k.csv")
book4000k_5000k= pd.read_csv("Dataset/raw_data/book4000k-5000k.csv")
user_rating_1000_to_2000= pd.read_csv("Dataset/raw_data/user_rating_1000_to_2000.csv")
user_rating_2000_to_3000= pd.read_csv("Dataset/raw_data/user_rating_2000_to_3000.csv")
user_rating_3000_to_4000= pd.read_csv("Dataset/raw_data/user_rating_3000_to_4000.csv")
user_rating_4000_to_5000= pd.read_csv("Dataset/raw_data/user_rating_4000_to_5000.csv")

C:\Users\Arunima'\AppData\Local\Temp\ipykernel_11404\3844455341.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books= pd.read_csv("Dataset/raw_data/Books.csv")

In [6]:
book1000k_2000k = pd.concat([books, book1000k_1100k, book1100k_1200k, book1200k_1300k, book1300k_1400k, book1400k_1500k, book1500k_1600k, book1600k_1700k, book1800k_1900k, book1900k_2000k])
book1000k_2000k.shape

(618475, 27)

In [7]:
books = pd.concat([book1000k_2000k, book2000k_3000k, book3000k_4000k, book4000k_5000k])

In [8]:
books.shape

(1551283, 27)

In [13]:
user_rating = users.merge(rating, on ='User-ID')

In [29]:
user_rating.head()

   User-ID                   Location   Age        ISBN  Book-Rating
0        2  stockton, california, usa  18.0  0195153448            0
1        7        washington, dc, usa   NaN   034542252            0
2        8   timmins, ontario, canada   NaN  0002005018            5
3        8   timmins, ontario, canada   NaN  0060973129            0
4        8   timmins, ontario, canada   NaN  0374157065            0

In [30]:
books.isnull().sum()

ISBN                        3708
Book-Title               1279923
Book-Author              1279924
Year-Of-Publication      1279923
Publisher                  12428
Image-URL-S              1279923
Image-URL-M              1279923
Image-URL-L              1279926
Id                        271360
Name                      271360
Authors                   271360
Rating                    271360
PublishYear               271360
PublishMonth              271360
PublishDay                271360
RatingDist5               271360
RatingDist4               271360
RatingDist3               271360
RatingDist2               271360
RatingDist1               271360
RatingDistTotal           271360
CountsOfReview            271360
Language                 1416577
pagesNumber              1286592
Description               579156
Count of text reviews    1286592
PagesNumber               536051
dtype: int64

In [31]:
user_rating.isnull().sum()

User-ID             0
Location            0
Age            309492
ISBN                0
Book-Rating         0
dtype: int64

In [32]:
books.duplicated().sum()

0

In [33]:
user_rating.duplicated().sum()

0

# creating popularity based recommendation system 
idea is to recommend top 100 highest average ratings book

In [35]:
books_ratings = rating.merge(books, on='ISBN')

In [37]:
books_ratings.columns

Index(['User-ID', 'ISBN', 'Book-Rating', 'Book-Title', 'Book-Author',
       'Year-Of-Publication', 'Publisher', 'Image-URL-S', 'Image-URL-M',
       'Image-URL-L', 'Id', 'Name', 'Authors', 'Rating', 'PublishYear',
       'PublishMonth', 'PublishDay', 'RatingDist5', 'RatingDist4',
       'RatingDist3', 'RatingDist2', 'RatingDist1', 'RatingDistTotal',
       'CountsOfReview', 'Language', 'pagesNumber', 'Description',
       'Count of text reviews', 'PagesNumber'],
      dtype='object')

In [47]:
rating_df = books_ratings.groupby('Book-Title').count()['Book-Rating'].reset_index()
rating_df = rating_df.rename(columns={'Book-Rating': 'total_ratings'})

In [48]:
avg_rating_df = books_ratings.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df = avg_rating_df.rename(columns={'Book-Rating': 'avg_ratings'})

In [49]:
popularity_df = rating_df.merge(avg_rating_df, on='Book-Title')
popularity_df

,Book-Title,total_ratings,avg_ratings
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [134]:
popularity_df = popularity_df[popularity_df['total_ratings'] >= 250].sort_values('avg_ratings', ascending=False).head(25)

In [135]:
popularity_df

,Book-Title,total_ratings,avg_ratings
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
191612,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
187377,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370
80445,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
211384,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769
219741,To Kill a Mockingbird,510,4.700000
183573,The Da Vinci Code,898,4.642539
187880,The Five People You Meet in Heaven,430,4.551163
180556,The Catcher in the Rye,449,4.545657
196326,The Lovely Bones: A Novel,1295,4.468726
764,1984,284,4.454225
144165,Prodigal Summer: A Novel,253,4.450593
128670,Neverwhere,265,4.449057
206502,The Secret Life of Bees,774,4.447028
168719,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
223135,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970
204387,The Red Tent (Bestselling Backlist),723,4.334716
191589,The Hitchhiker's Guide to the Galaxy,268,4.328358
129379,Nickel and Dimed: On (Not) Getting By in America,335,4.289552
93381,Into the Wild,252,4.273810
63867,Fahrenheit 451,409,4.264059

In [66]:
df = popularity_df.merge(books, on ='Book-Title')
df = df.drop_duplicates('Book-Title')

In [63]:
df.columns

Index(['Book-Title', 'total_ratings', 'avg_ratings', 'ISBN', 'Book-Author',
       'Year-Of-Publication', 'Publisher', 'Image-URL-S', 'Image-URL-M',
       'Image-URL-L', 'Id', 'Name', 'Authors', 'Rating', 'PublishYear',
       'PublishMonth', 'PublishDay', 'RatingDist5', 'RatingDist4',
       'RatingDist3', 'RatingDist2', 'RatingDist1', 'RatingDistTotal',
       'CountsOfReview', 'Language', 'pagesNumber', 'Description',
       'Count of text reviews', 'PagesNumber'],
      dtype='object')

In [68]:
df = df[['Book-Title', 'Book-Author', 'Year-Of-Publication', 'Image-URL-M', 'total_ratings', 'avg_ratings']]
df

,Book-Title,Book-Author,Year-Of-Publication,Image-URL-M,total_ratings,avg_ratings
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,1999,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2000,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,1998,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,2000,http://images.amazon.com/images/P/0439064872.0...,556,5.183453
...,...,...,...,...,...,...
338,The Beach House,James Patterson,2003,http://images.amazon.com/images/P/0446612545.0...,435,3.347126
344,The Hours: A Novel,Michael Cunningham,2002,http://images.amazon.com/images/P/0312305060.0...,294,3.346939
345,Icy Sparks,Gwyn Hyman Rubio,2001,http://images.amazon.com/images/P/0142000205.0...,309,3.346278
347,Angela's Ashes (MMP) : A Memoir,Frank McCourt,1999,http://images.amazon.com/images/P/0684872153.0...,326,3.337423
348,How to Be Good,Nick Hornby,2002,http://images.amazon.com/images/P/1573229326.0...,304,3.305921

In [115]:
df['Image-URL-M'][0]

'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg'

# Creating Collaborative Recommender System

In [78]:
x= books_ratings.groupby('User-ID').count()['Book-Rating']>200
rated_users =  x[x].index

In [84]:
filtered_ratings= books_ratings[books_ratings['User-ID'].isin(rated_users)]
filtered_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,...,RatingDist3,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,Language,pagesNumber,Description,Count of text reviews,PagesNumber
4,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6543,034545104X,0,NaN,NaN,NaN,Ballantine Books,NaN,NaN,NaN,...,3:38,2:14,1:4,total:117,1.0,NaN,320.0,"In such erotic thrillers as ""In Fidelity"" and ...",1.0,NaN
10,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,23768,034545104X,0,NaN,NaN,NaN,Ballantine Books,NaN,NaN,NaN,...,3:38,2:14,1:4,total:117,1.0,NaN,320.0,"In such erotic thrillers as ""In Fidelity"" and ...",1.0,NaN
14,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234507,276680,086505505X,0,Home Crafts (Historic Communities (Paperback)),Bobbie Kalman,1990,Crabtree Publishing Company,http://images.amazon.com/images/P/086505505X.0...,http://images.amazon.com/images/P/086505505X.0...,http://images.amazon.com/images/P/086505505X.0...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1234508,276680,086505505X,0,NaN,NaN,NaN,Crabtree Publishing Company,NaN,NaN,NaN,...,3:2,2:0,1:0,total:5,0.0,NaN,NaN,"Describes crafts made by early settlers, inclu...",NaN,32.0
1234509,276680,1564407284,0,"The Old Sturbridge Village Cookbook, 2nd : Aut...",Caroline Sloat,1995,Globe Pequot,http://images.amazon.com/images/P/1564407284.0...,http://images.amazon.com/images/P/1564407284.0...,http://images.amazon.com/images/P/1564407284.0...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1234510,276680,1564407284,0,NaN,NaN,NaN,Globe Pequot,NaN,NaN,NaN,...,3:2,2:0,1:0,total:6,0.0,NaN,NaN,This wonderful revision has a fresh look and m...,NaN,256.0
1234511,276680,1582343594,0,City of Masks : A Cree Black Novel,Daniel Hecht,2004,Bloomsbury USA,http://images.amazon.com/images/P/1582343594.0...,http://images.amazon.com/images/P/1582343594.0...,http://images.amazon.com/images/P/1582343594.0...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
y=filtered_ratings.groupby('Book-Title').count()['Book-Rating']>=50
y[y]

Book-Title
1984                                                                 True
1st to Die: A Novel                                                  True
2nd Chance                                                           True
4 Blondes                                                            True
84 Charing Cross Road                                                True
                                                                     ...
Year of Wonders                                                      True
You Belong To Me                                                     True
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values    True
Zoya                                                                 True
\O\" Is for Outlaw"                                                  True
Name: Book-Rating, Length: 813, dtype: bool

In [88]:
famous_books = y[y].index
famous_books

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road',
       'A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action',
       ...
       'Without Remorse', 'Wizard and Glass (The Dark Tower, Book 4)',
       'Women Who Run with the Wolves',
       'Word Freak: Heartbreak, Triumph, Genius, and Obsession in the World of Competitive Scrabble Players',
       'Wuthering Heights', 'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=813)

In [90]:
final_ratings = filtered_ratings[filtered_ratings['Book-Title'].isin(famous_books)]

In [92]:
final_ratings.duplicated().sum()

0

In [94]:
pt = final_ratings.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')

In [95]:
pt.fillna(0, inplace = True)

In [96]:
pt

User-ID,254,1733,2033,2110,2276,2766,2977,3363,4017,4385,...,274301,274308,274808,275970,276680,277427,277478,277639,278188,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [107]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_score = cosine_similarity(pt)

In [130]:
#fetch index from the book name

def recommend(book_name):
    index = np.where(pt.index == book_name)[0][0]
    similar_books = sorted(list(enumerate(similarity_score[index])), key=lambda x:x[1], reverse=True)[1:20]
    data =[]
    
    for i in similar_books:
        item =[]
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
        
    return data
#     return suggestions

In [131]:
recommend('The Notebook')

[['Nights in Rodanthe',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446531332.01.MZZZZZZZ.jpg'],
 ['A Walk to Remember',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446608955.01.MZZZZZZZ.jpg'],
 ['Toxin',
  'Robin Cook',
  'http://images.amazon.com/images/P/0425166619.01.MZZZZZZZ.jpg'],
 ['The Rescue',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446610399.01.MZZZZZZZ.jpg'],
 ['The Five People You Meet in Heaven',
  'Mitch Albom',
  'http://images.amazon.com/images/P/0786868716.01.MZZZZZZZ.jpg'],
 ['One Door Away from Heaven',
  'Dean R. Koontz',
  'http://images.amazon.com/images/P/0553582755.01.MZZZZZZZ.jpg'],
 ["Suzanne's Diary for Nicholas",
  'James Patterson',
  'http://images.amazon.com/images/P/0316969443.01.MZZZZZZZ.jpg'],
 ['The Guardian',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446527793.01.MZZZZZZZ.jpg'],
 ['Fine Things',
  'Danielle Steel',
  'http://images.amazon.com/images/P/0440200563.01.MZZZZZZZ.jpg'],
 ["Everything's Eventual : 14 Dark Tales",
  'Stephen King',
  'http://images.amazon.com/images/P/0743457358.01.MZZZZZZZ.jpg'],
 ["Where the Heart Is (Oprah's Book Club (Paperback))",
  'Billie Letts',
  'http://images.amazon.com/images/P/0446672211.01.MZZZZZZZ.jpg'],
 ['Deja Dead',
  'Kathy Reichs',
  'http://images.amazon.com/images/P/0671011367.01.MZZZZZZZ.jpg'],
 ['Message in a Bottle',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446523569.01.MZZZZZZZ.jpg'],
 ['Accident',
  'Danielle Steel',
  'http://images.amazon.com/images/P/0385306024.01.MZZZZZZZ.jpg'],
 ['The Wedding',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446532452.01.MZZZZZZZ.jpg'],
 ['The Red Tent (Bestselling Backlist)',
  'Anita Diamant',
  'http://images.amazon.com/images/P/0312195516.01.MZZZZZZZ.jpg'],
 ['White Oleander : A Novel',
  'Janet Fitch',
  'http://images.amazon.com/images/P/0316182540.01.MZZZZZZZ.jpg'],
 ['The Hours: A Novel',
  'Michael Cunningham',
  'http://images.amazon.com/images/P/0312305060.01.MZZZZZZZ.jpg'],
 ['Homeport',
  'Nora Roberts',
  'http://images.amazon.com/images/P/0399143874.01.MZZZZZZZ.jpg']]

In [136]:
import pickle
pickle.dump(df, open('popular.pkl', 'wb'))

In [133]:
pickle.dump(pt, open('pt.pkl', 'wb'))
pickle.dump(books, open('books.pkl', 'wb'))
pickle.dump(similarity_score, open('similarity_score.pkl', 'wb'))